.nav {
    font-family: PT Sans Narrow;
}

.navbar-nav {
    text-transform: uppercase;
}

.nav-link {
    opacity: 0.7;
}

.nav-link:hover {
    opacity: 1;
    background-color: #eee !important;
}

header {
    
    /*Sizing of the element*/
    height: 500px;
    width: 100%;
    
    /*Set and adjust background image*/
    background-image: url("header.jpg");
    background-size: cover;
    
    text-align: center;
    color: #ffffff;
    font-family: 'Noto Serif', serif;

}

header p {
    font-style: italic;
    text-align: center;
}

.services {
    text-align: center;
}

.services i {
    
    /*Adjust the size and position of the icon*/
    font-size: 30px;
    padding: 25px 20px;
    
    /*Color changes the color of the icon*/
    color: #E7ECD5;
    background: #172317;
    
    /*Resize the container the icon is in*/
    width: 80px;
    height: 80px;
    
    /*Changes the roundness of the container*/
    border-radius: 50%;
}

.services span {
    width: 200px;
    display: inline-block;
}

.pricing {
    text-align: center;
}

.pricing title {
    text-align: center;
    margin: 10px;
}

.team {
    text-align: center;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

.contact .input-group {
    padding: 2px;
}

.contact i {
    padding: 10px;
}

.contact button {
    width: 100%;
    background-color: #db4213;
}

.contact button:hover {
    background-color: #ffa589;
}